<!DOCTYPE html>
<html>
  <head>
    <title>HudsonApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body data-spy="scroll" data-target="#navbar_main" data-offset="80">



    <%= yield %>
  </body>

      <script src="/assets/jquery.min.js"></script>

      <script src="/assets/sitewide/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>


    <!-- JS Plugins -->
    <script src="/assets/sitewide/plugins/smoothscroll/smoothscroll.min.js" type="text/javascript"></script>

    <script src="/assets/sitewide/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>

    <script src="/assets/sitewide/plugins/contact-form/contact.js" type="text/javascript"></script>

    <script src="/assets/sitewide/plugins/waypoints/jquery.waypoints.min.js" type="text/javascript"></script>



    <!-- JS Custom -->
    <!--build:js assets/js/theme.js -->

    <%= javascript_include_tag 'theme' %>
    <!-- endbuild -->
    <%= javascript_include_tag 'custom' %>
</html>
